In [22]:
import requests
import pandas as pd

In [23]:
page = requests.get("https://anfp.cl/estadisticas")
page

In [21]:
#page.content

In [24]:
from bs4 import BeautifulSoup

In [25]:
soup = BeautifulSoup(page.content, 'html.parser')

### Si la página contiene una tabla, podemos encontrar usando soup.find

In [42]:
table_anfp=soup.find('table', { 'class' : 'table tbls table-striped table-bordered dt-responsive display nowrap' })

In [43]:
table_anfp

<table cellspacing="0" class="table tbls table-striped table-bordered dt-responsive display nowrap" id="datatable-responsive" width="100%">
<thead>
<tr>
<th>POS</th>
<th>CLUB</th>
<th>PTS</th>
<th>PJ</th>
<th>PG</th>
<th>PE</th>
<th>PP</th>
<th>GF</th>
<th>GC</th>
<th>DIF</th>
</tr>
</thead>
<tbody>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">1</td>
<td> <a href="/club/47/universidad-catlica">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/d01105ee6df81f19d3d25c2736c7d6ae.png" style="margin-right:10px" width="35"/> <span class="tiClub">Universidad Católica</span>
</a></td>
<td>18</td>
<td>9</td>
<td>6</td>
<td>0</td>
<td>3</td>
<td>13</td>
<td>9</td>
<td>4</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">2</td>
<td> <a href="/club/52/unin-la-calera">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/90123d347a2b296c2988e6aeeab06056.png" style="margin-right:10px" width="35"/> <span class="tiClub">Unión La Calera</span>
</a></td>
<td>17</td>
<td>9</td>
<td>5</td>
<td>2</td>
<td>2</td>
<td>8</td>
<td>7</td>
<td>1</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">3</td>
<td> <a href="/club/50/ublense">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/378cbcced037ab297f3809a87567f5e0.png" style="margin-right:10px" width="35"/> <span class="tiClub">Ñublense</span>
</a></td>
<td>16</td>
<td>10</td>
<td>5</td>
<td>1</td>
<td>4</td>
<td>17</td>
<td>12</td>
<td>5</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">4</td>
<td> <a href="/club/44/audax-italiano">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/eb698680de4e5501239a60c9f9e8f98c.png" style="margin-right:10px" width="35"/> <span class="tiClub">Audax Italiano</span>
</a></td>
<td>16</td>
<td>9</td>
<td>4</td>
<td>4</td>
<td>1</td>
<td>8</td>
<td>5</td>
<td>3</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">5</td>
<td> <a href="/club/32/colo-colo">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/04331fe9ff4e3caecd72877a6e9669dd.png" style="margin-right:10px" width="35"/> <span class="tiClub">Colo Colo</span>
</a></td>
<td>16</td>
<td>9</td>
<td>5</td>
<td>1</td>
<td>3</td>
<td>12</td>
<td>10</td>
<td>2</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">6</td>
<td> <a href="/club/55/ohiggins">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/9c27509ed8b5acfedfea1cecbe0014d3.PNG" style="margin-right:10px" width="35"/> <span class="tiClub">O'Higgins</span>
</a></td>
<td>16</td>
<td>10</td>
<td>4</td>
<td>4</td>
<td>2</td>
<td>8</td>
<td>9</td>
<td>-1</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">7</td>
<td> <a href="/club/45/deportes-la-serena">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/27c1f908ec038de3c4564ac0574a1b7d.png" style="margin-right:10px" width="35"/> <span class="tiClub">Deportes La Serena</span>
</a></td>
<td>15</td>
<td>10</td>
<td>4</td>
<td>3</td>
<td>3</td>
<td>13</td>
<td>7</td>
<td>6</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">8</td>
<td> <a href="/club/51/unin-espaola">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/a6e9009b32c6c2e399604e0c3841534b.png" style="margin-right:10px" width="35"/> <span class="tiClub">Unión Española</span>
</a></td>
<td>15</td>
<td>10</td>
<td>4</td>
<td>3</td>
<td>3</td>
<td>15</td>
<td>12</td>
<td>3</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">9</td>
<td> <a href="/club/88/deportes-melipilla">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/f67f64589acd2c962764363bc5da0b31.png" style="margin-right:10px" width="35"/> <span class="tiClub">Deportes Melipilla</span>
</a></td>
<td>14</td>
<td>10</td>
<td>4</td>
<td>2</td>
<td>4</td>
<td>13</td>
<td>12</td>
<td>1</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">10</td>
<td> <a href="/club/67/everton">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/97702ca6993f502b3478d7608963d392.png" style="margin-right:10px" width="35"/> <span class="tiClub">Everton</span>
</a></td>
<td>13</td>
<td>9</td>
<td>3</td>
<td>4</td>
<td>2</td>
<td>7</td>
<td>10</td>
<td>-3</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">11</td>
<td> <a href="/club/60/deportes-antofagasta">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/bf05e04fc4b8179afa659b8654ef4deb.png" style="margin-right:10px" width="35"/> <span class="tiClub">Deportes Antofagasta</span>
</a></td>
<td>12</td>
<td>9</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>13</td>
<td>12</td>
<td>1</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">12</td>
<td> <a href="/club/35/universidad-de-chile">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/7fbceadc67d0639139019329cede98d7.png" style="margin-right:10px" width="35"/> <span class="tiClub">Universidad de Chile</span>
</a></td>
<td>12</td>
<td>9</td>
<td>3</td>
<td>3</td>
<td>3</td>
<td>7</td>
<td>7</td>
<td>0</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">13</td>
<td> <a href="/club/48/cobresal">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/831340ccfeb595f722e7ae6009c5f7d7.png" style="margin-right:10px" width="35"/> <span class="tiClub">Cobresal</span>
</a></td>
<td>11</td>
<td>10</td>
<td>3</td>
<td>2</td>
<td>5</td>
<td>10</td>
<td>11</td>
<td>-1</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">14</td>
<td> <a href="/club/58/palestino">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/0af91335f25af3f423d2a802717b7a74.png" style="margin-right:10px" width="35"/> <span class="tiClub">Palestino</span>
</a></td>
<td>8</td>
<td>7</td>
<td>2</td>
<td>2</td>
<td>3</td>
<td>7</td>
<td>9</td>
<td>-2</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">15</td>
<td> <a href="/club/56/huachipato">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/3d922804892d2a43ec3328e272c5d451.png" style="margin-right:10px" width="35"/> <span class="tiClub">Huachipato</span>
</a></td>
<td>7</td>
<td>8</td>
<td>1</td>
<td>4</td>
<td>3</td>
<td>8</td>
<td>10</td>
<td>-2</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">16</td>
<td> <a href="/club/71/curic-unido">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/d0e92625dc0483270a9dcf72d9bd42c2.png" style="margin-right:10px" width="35"/> <span class="tiClub">Curicó Unido</span>
</a></td>
<td>6</td>
<td>9</td>
<td>1</td>
<td>3</td>
<td>5</td>
<td>8</td>
<td>14</td>
<td>-6</td>
</tr>
<tr>
<td class="" style="font-size:25px; font-weight:bold; ">17</td>
<td> <a href="/club/54/santiago-wanderers">
<!--<span style="float:left; font-size:23px; margin-left:-15px"> * </span> --> <img src="https://anfp.cl/imagenes/clubes/359bde547a3e678332332062c051939a.png" style="margin-right:10px" width="35"/> <span class="tiClub">Santiago Wanderers</span>
</a></td>
<td>1</td>
<td>9</td>
<td>0</td>
<td>1</td>
<td>8</td>
<td>4</td>
<td>15</td>
<td>-11</td>
</tr>
</tbody>
</table>

### En la tabla:
- $<th>$ es header de la tabla
- $<tr>$ es una fila de la tabla
- $<td>$ son los datos en la fila

Queremos extraer el header y los datos por cada fila

In [44]:
def tableDataText(table):       
    rows = []
    trs = table.find_all('tr')
    headerow = [td.get_text(strip=True) for td in trs[0].find_all('th')] # header row
    if headerow: # if there is a header row include first
        rows.append(headerow)
        trs = trs[1:]
    for tr in trs: # for every table row
        rows.append([td.get_text(strip=True) for td in tr.find_all('td')]) # data row
    return rows

In [46]:
list_table = tableDataText(table_anfp)
list_table

[['POS', 'CLUB', 'PTS', 'PJ', 'PG', 'PE', 'PP', 'GF', 'GC', 'DIF'],
 ['1', 'Universidad Católica', '18', '9', '6', '0', '3', '13', '9', '4'],
 ['2', 'Unión La Calera', '17', '9', '5', '2', '2', '8', '7', '1'],
 ['3', 'Ñublense', '16', '10', '5', '1', '4', '17', '12', '5'],
 ['4', 'Audax Italiano', '16', '9', '4', '4', '1', '8', '5', '3'],
 ['5', 'Colo Colo', '16', '9', '5', '1', '3', '12', '10', '2'],
 ['6', "O'Higgins", '16', '10', '4', '4', '2', '8', '9', '-1'],
 ['7', 'Deportes La Serena', '15', '10', '4', '3', '3', '13', '7', '6'],
 ['8', 'Unión Española', '15', '10', '4', '3', '3', '15', '12', '3'],
 ['9', 'Deportes Melipilla', '14', '10', '4', '2', '4', '13', '12', '1'],
 ['10', 'Everton', '13', '9', '3', '4', '2', '7', '10', '-3'],
 ['11', 'Deportes Antofagasta', '12', '9', '3', '3', '3', '13', '12', '1'],
 ['12', 'Universidad de Chile', '12', '9', '3', '3', '3', '7', '7', '0'],
 ['13', 'Cobresal', '11', '10', '3', '2', '5', '10', '11', '-1'],
 ['14', 'Palestino', '8', '7', '2', '2', '3', '7', '9', '-2'],
 ['15', 'Huachipato', '7', '8', '1', '4', '3', '8', '10', '-2'],
 ['16', 'Curicó Unido', '6', '9', '1', '3', '5', '8', '14', '-6'],
 ['17', 'Santiago Wanderers', '1', '9', '0', '1', '8', '4', '15', '-11']]

Lo guardamos en un dataframe de pandas

In [48]:
df_anfp=pd.DataFrame(list_table[1:], columns=list_table[0])
df_anfp.head()

  POS                  CLUB PTS  PJ PG PE PP  GF  GC DIF
0   1  Universidad Católica  18   9  6  0  3  13   9   4
1   2       Unión La Calera  17   9  5  2  2   8   7   1
2   3              Ñublense  16  10  5  1  4  17  12   5
3   4        Audax Italiano  16   9  4  4  1   8   5   3
4   5             Colo Colo  16   9  5  1  3  12  10   2

### Otra forma fácil de hacerlo es con read_html de pandas
El comando busca directamente la clase 'table' en la página e identifica las entradas $<th>$, $<tr>$ y $<td>$

In [29]:
df_list=pd.read_html(page.text)

In [30]:
df = df_list[0]

In [31]:
df.head()

   POS                  CLUB  PTS  PJ  PG  PE  PP  GF  GC  DIF
0    1  Universidad Católica   18   9   6   0   3  13   9    4
1    2       Unión La Calera   17   9   5   2   2   8   7    1
2    3              Ñublense   16  10   5   1   4  17  12    5
3    4        Audax Italiano   16   9   4   4   1   8   5    3
4    5             Colo Colo   16   9   5   1   3  12  10    2